._*
sesio1/A1/groups/
*.idea*
*.DS_Store
sesio1/Envio/Heap/groups/
*20_newsgroups/
*arxiv_abs/
__pycache__/

web/frontend/node_modules/
web/frontend/dist/
*.ipynb_checkpoints*
.Rproj.user
*.RData
*.Rhistory
*.Rproj
